<html>
<head>
    <style>

        .arrange{
        
            float: left;
        }
        .box1{
            width:auto;
            height:auto;
            float: left;
            border: 2px black solid;
        }

        #button{
            background-color: royalblue;
            border-color: royalblue;
            color: white;
            
        }

        video{
            max-width: 70%;
        }
        H1{
            font-family: sans-serif;
        }
    </style>
</head>
    <H1>Videos</H1>
    
  
        <% all.forEach(function (a) { %>
      <div class="box1">
        <video controls>
            <source src="/videos/<%= a.Video %>"   style="width:inherit;height:200px" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
         
  
    </div>
    </div>



    <% }) %>


    

</html>